/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  `  | BKSP |
// | CTRL |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |  '   |
// | SHFT |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  .  |  '  |  -  | ESC  |
//                    | K_SCROLL_UP | TAB | SPC |   | BSPC | ENT  | DEL |
                        bindings = <
   &kp TAB    &kp Q &kp W &kp F  &kp P   &kp B         &kp J &kp L  &kp U     &kp Y          &kp SINGLE_QUOTE    &kp BSPC
   &kp LCTRL  &mt LGUI A &mt LALT R &mt LCTRL S  &mt LSHIFT T   &kp G         &kp M &mt RSHFT N  &mt RCTRL E     &mt LALT I          &mt RGUI O               &kp SQT
   &kp LSHIFT &mt K_CUT Z &mt K_CUT X &mt K_COPY C  &mt ESC D   &mt K_PASTE V         &kp K &kp H  &kp DOT   &kp SQT        &kp MINUS           &kp ESC
                    &mo 1   &kp TAB &kp SPACE     &kp BSPC     &kp ENTER   &kp DEL
                        >;
                };

        nav_layer {
                bindings = <
   &trans   &trans &kp HOME &kp UP_ARROW  &kp END   &kp PAGE_UP         &trans &trans &trans &trans &trans &trans
   &trans  &kp DEL &kp LEFT_ARROW R &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp PAGE_DOWN   &trans &trans &trans &trans &trans &trans
   &trans  &trans &kp BACKSPACE &mt K_COPY C  &mt ESC D   &mt K_PASTE V          &trans &trans &trans &trans &trans &trans
                    &trans &trans &trans &trans &trans &trans
                >;
                };

        };
};
