/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NAVI    1

&mt {
        quick-tap-ms = <200>;
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
   &kp TAB    &kp Q &kp W &kp F  &kp P   &kp B         &kp J &kp L  &kp U     &kp Y &kp SINGLE_QUOTE    &kp BSPC
   &kp LCTRL  &mt LGUI A &mt LALT R &mt LCTRL S  &mt LSHIFT T   &kp G         &kp M &mt RSHFT N  &mt RCTRL E     &mt LALT I &mt RGUI O &kp SQT
   &kp LSHIFT &kp Z &mt K_CUT X &mt K_COPY C  &mt ESC D   &mt K_PASTE V         &kp K &kp H  &kp DOT   &kp SQT        &kp MINUS           &kp ESC
                    &mo  NAVI &kp TAB &kp SPACE     &kp BSPC     &kp ENTER   &kp DEL
                        >;
                };

                nav_layer {
                        bindings = <
   &trans   &trans &kp HOME &kp UP_ARROW  &kp END   &kp PAGE_UP         &trans   &trans &trans   &trans &trans   &trans
   &trans  &kp DEL &kp LEFT_ARROW R &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans   &trans &trans   &trans &trans   &trans
   &trans  &trans &kp BACKSPACE &trans  &trans   &trans         &trans   &trans &trans   &trans &trans   &trans
                    &trans  &kp TAB &kp SPACE     &kp BSPC     &kp ENTER   &kp DEL
                        >;
                };
        };
};